@use "./navbar";
@use "./sideBox";
@use "./projectBox";
@use "./inbox";

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

:root {
  font-family: "Fira Sans";
}

.main-container {
  padding: 20px;
}

.sidebar,
.display {
  border: 1px solid black;
  min-height: 85vh;
}

.sidebar {
  background: lightgray;
}

.project-data {
  height: fit-content;
}

.hide {
  display: none;
}

.select-project-container {
  display: flex;
  justify-content: flex-end;
  visibility: collapse;

  #select-project {
    width: 250px;
  }

  .visible {
    visibility: visible;
  }
}
